.header{
    color: map-get($colores, color-secundario);
    background-color: pink;

    .navbar{
        display: flex;
        justify-content: space-around;
        

        li{
            background-color: violet;
            font-size: map-get($tamanio-tipografia, parrafos );
        }

    }
}

.header ul{
    background-color: aqua;
}

