
@media (min-width:768px){
    #media_image-3{
           position:static!important;
           width:100%;
           text-align:center;
           margin-top:160px;
    }

    #gallery {
        z-index: 0px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        width: 100%;
        margin: auto;
        grid-gap: 10px;
        padding: 18px;
        overflow: hidden;
    }
}
