
/* MAPS */

$fonts:'Oswald', sans-serif;


$tamanio-tipografia:(
    titulos: 24px,
    subtitulos: 20px,
    parrafos: 14px,
    letra-chica: 12px
    
);


$color-fondo: #e1f0eb;

$color-letra: #333;


$colores: (
    color-nav: #d4e9e2,
    color-fondo: #e1f0eb,
    color-letra: #333,
);

$redesSociales:(
    facebook: #3b5998,
    linkedin: #0e76a8,
    youtube: #c4302b,

);



/* EXTEND */

%flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
};


/* MIXIN */

/* @include  */

@mixin flexbox ($direction, $align){
    display: flex;
    direction: $direction;
    align-items: $align;

    @if $direction == column {
        justify-content: center
    } @else{
        justify-content: space-evenly
    }
};

@mixin botones ($bg-color) {
    width: fit-content;
    padding: 5px,10px;
    background-color: $bg-color;
    border: solid 1px darken(red, 50%);
}

@mixin mediaQuery($pantalla) {
    @if $pantalla == mobile {
        @media only screen and (max-width: 500px ){
            @content;
        }
            
    };
    @if $pantalla == tablet {
        @media only screen and (max-width: 780px){
            @content;
        }
    }
    @if $pantalla == desktop {
        @media only screen and (max-width: 1024px){
            @content;
        }
    }
    
}

